body
{
    background-color: teal;
    text-align: center;
}
#answer
{
    font-size: 18px;
    color: lightcoral;
}
button
{
    background-color: lightcyan;
    border-radius: 30%;
    box-shadow: 0, 0, 0, 10px lightseagreen;
}

canvas
{
    background-color: pink;
    border-radius: 20px;
}